@import "tailwindcss";
@import "tw-animate-css";

/*@theme {*/
/*  --color-brand-primary-main: #06f;*/
/*  --color-brand-primary-light: #3385ff;*/
/*  --color-brand-primary-dark: #0052cc;*/
/*  --color-brand-secondary-main: #ff6b35;*/
/*  --color-brand-text-primary: #1a202c;*/
/*  --color-brand-text-secondary: #4a5568;*/
/*  --color-brand-text-muted: #718096;*/
/*  --color-brand-text-light: #f5f5f5;*/
/*  --color-neutral-background: #fafbfc;*/
/*  --color-neutral-surface: #fff;*/
/*  --color-neutral-dark-background: #0a0e27;*/
/*  --color-neutral-border: #e1e4e8;*/

/*  --font-headings: "Inter", "sans-serif";*/
/*  --font-system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
/*}*/

body {
    color: var(--color-text);
    background: var(--deep-navy);
}

@theme inline {
    --color-hot-red: #ff0040;
    --color-deep-navy: #0a0e27;
    --color-darker-navy: #060a1f;
    --color-light-gray: #E5E7EB;
    --color-medium-gray: #9CA3AF;
    --color-border-gray: #1F2937;
    --color-card-bg: #1F2937;
    --color-text: white;

    --breakpoint-xxs: 320px;
    --breakpoint-xs: 375px;
}

@layer base {
    :root {
        --hot-red: #ff0040;
        --deep-navy: #0a0e27;
        --darker-navy: #060a1f;
        --light-gray: #E5E7EB;
        --medium-gray: #9CA3AF;
        --border-gray: #1F2937;
        --card-bg: #1F2937;
    }
}

@layer utilities {
    * {
        overflow-x: hidden;
    }
    .title-tag {
        @apply mb-2 rounded-full text-medium-gray bg-border-gray/10 px-4 py-1 text-sm font-light italic border border-hot-red/50;
    }
    .title-effect {
        @apply bg-linear-to-bl from-red-400 to-red-600 text-transparent bg-clip-text;
    }
}