@import "tailwindcss";

@theme {
  --color-brand-primary-main: #06f;
  --color-brand-primary-light: #3385ff;
  --color-brand-primary-dark: #0052cc;
  --color-brand-seconday-main: #ff6b35;
  --color-brand-text-primary: #1a202c;
  --color-brand-text-secondary: #4a5568;
  --color-brand-text-muted: #718096;
  --color-neutral-background: #fafbfc;
  --color-neutral-surface: #fff;
  --color-neutral-dark-background: #0a0e27;
  --color-neutral-border: #e1e4e8;

  --font-headings: "Inter", "sans-serif";
  --font-system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


body {
  background: var(--color-neutral-dark-background);
  font-family: var(--font-system-ui);
}